body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    font-size: 40x;
    background-color: #1B244A;
    font-size: 30px;
    color: white;
}    

h2 {
}

.score {
    font-size: 90px;
    background: #0a0001;
    color: #F94F6D;
    width: 155px;
    margin: 30px;
    font-family: 'Cursed Timer ULiL', sans-serif;
                                                
}

.button {
  border: 2px solid #9AABD8;
  color: #9AABD8;
  padding: 9px 8px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  background-color: #1B244A;
                                                
}
//font for count - Cursed Timer ULiL